body{
font-family: Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#25D366;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1da851;
}

a{
color:#25D366;
text-decoration:none;
}



#suggestions{
margin-top:6px;
}

#suggestions button{
margin:3px;
padding:4px 8px;
font-size:12px;
border:none;
background:#e0e0e0;
border-radius:5px;
cursor:pointer;
}